spring.datasource.url=jdbc:postgresql://localhost:5432/xxx
spring.datasource.username=xxx
spring.datasource.password=xxx
spring.jpa.hibernate.ddl-auto=xxx

app.jwt.expiration-ms=300000
app.jwt.secret=xxxxx
app.jwt.refresh-expiration-ms=604800000
logging.level.org.springframework.security=DEBUG